* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Philosopher', sans-serif;
    min-width: 360px;
    height: 100vh;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background: center/cover, rgba(0, 0, 0, 0.4);
    background-image: cover;
}
.center{
    justify-content: center;
    display: flex;
    
}
.wrapper-all{
    width:100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between
}

.ancients {
    cursor: pointer;
    background-image: cover;
    width: 443px;
    height: 574px;
    margin-right: 50px;
}
.all-cards,
.pack-face{
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    margin-top: 75px;
}
.pack,
.pack1,
.pack-hard,
.pack-easy-hard,
.pack-medium-easy,
.face{
    cursor: pointer;
    width: 443px;
    height: 574px;
    margin-right: 50px;
    background-image: url(https://raw.githubusercontent.com/VeranikaM85/eldritch-codejam/main/assets/mythicCardBackground.png);
}

.pack,
.pack1,
.pack-hard,
.pack-easy-hard,
.pack-medium-easy,
.face{
    background-size: cover;
    background-image: cover;
}
.face{
    margin-top: 150px;
}
.text{

    color: #fff;
    font-size: 2.2rem;
    width: 100%;
    height: auto;
    line-height: 200px;
    background-color: rgba(84, 43, 109, 0.3)
}
.two{
    display: none;
}
.pack-all{
    display: flex;
    flex-direction: column;
}
.wrapper{
    display: flex;
    flex-direction: row;
    margin: 150px;
}
.check{

box-shadow:  0 0 18px 4px rgb(249, 249, 249,0.6),
0 0 70px 30px rgb(84, 43, 109,0.7),
0 0 35px 8px rgb(249, 249, 249, 0.9);

}
.play-again{
    color:#fff;
    background-color: rgb(84, 43, 109);
    border-radius: 5px;
    border: 3px solid rgb(84, 43, 109, 0.7);
}
button:hover{
    transition: 0.7s;
    animation: animation-btn 1.1s;
    animation-fill-mode: forwards;

}
button:active{
    transition: 0.2s;
    animation: animation-btnactive 0.5s;
    animation-fill-mode: forwards;
}
button:disabled{
    transition: 0.2s;
    animation: animation-btnactive 0.5s;
    animation-fill-mode: forwards;
    color: #fff;
    opacity: 0.7;

}
.contrast { filter: contrast(60%); }
@keyframes animation-btn {   
    0% {     
    background-color: rgb(84, 43, 109,0.4); 
    border: 3px solid rgb(84, 43, 109,0.4); 
    color: #fff; 
    }   
    100% {
    background-color: rgb(84, 43, 109,0.2);
    border: 3px solid rgb(84, 43, 109,0.4);
    color: #fff; 
    } 
}
@keyframes animation-btnactive {   
    0% {     
    background-color: rgb(84, 43, 109,0.2);
    border: 3px solid rgb(84, 43, 109,0.4);   
    }   
    100% {
    background-color: rgb(84, 43, 109,0.2);
    border: 3px solid rgb(84, 43, 109,0.4);
    } 
}
.wrapper-stage-all{
    width: 400px;
    height: 680px;
    background-color: #fff;
    opacity: 0;
}
.stage{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 500px;
    margin-left: 100px;
    margin-right: 100px;
    background-image: cover;
    background-image: url("../assets/img/bg1.png");
}

.stage1{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    color: #4b3300;
    font: 700 2.4rem 'Philosopher', sans-serif;
    text-align: center;
    line-height: 50px;
}
.wrapper-stage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.green,
.brown,
.blue{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    font: 700 1.8rem 'Philosopher', sans-serif;
    margin-right: 15px;
    margin-left: 15px;
    line-height: 50px;
}
.green{
    background-color: #3F6022
}
.brown{
    background-color:#B19323;
}
.blue{
    background-color: #4C5CA7;
}
.button-all{
    display: flex;
    flex-direction: column;
    margin-top: 85px;
}
.for-check{
    width: 1000px;
    height: 200px;
    background-color: #fff;
}
.button,
.button-random{
    margin-left: 50px;
    margin-right: 50px;
    width: 400px;
    height: 100px;
    margin-top: 90px;
    font: 700 2.2rem 'Philosopher', sans-serif;
    cursor: pointer;
}
.display-none{
    opacity: 0;
}
button{
    color:#fff;
    background-color: rgb(84, 43, 109,0.5);
    border-radius: 5px;
    border: 3px solid rgb(84, 43, 109, 0.7);
}
.play-again,
.button-random{
    position: relative;
    overflow: hidden;
    color:#fff;
    background-color: rgb(84, 43, 109);
    border-radius: 5px;
    border: 3px solid rgb(84, 43, 109, 0.7);
}
.button-random:before {
    content: '';
    width: 100%;
    height: 200%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0.15;
    filter: blur;
    background: linear-gradient(to left, transparent 0%, #fff 40%, #fff 60%, transparent 100%);
    transform: translate(-100%, -25%);
    animation: blick 3s infinite;
  }
  
  @keyframes blick {
    0% {
      transform: translate(-100%, -25%);
    }
    50% {
      transform: translate(100%, -25%);
    }
    100% {
      transform: translate(100%, -25%);
    }
  }  

