@font-face {
    font-family: 'Arial-MT';
    src: url("../assets/fonts/Arial-MT.woff");
}
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-width: 360px;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background: center/cover, rgba(0, 0, 0, 0.4);
    background-image: cover;
}
.center{
    justify-content: center;
    display: flex;
    
}
.wrapper-all{
    width:100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between
}

.ancients {
    cursor: pointer;
    background-image: cover;
    width: 443px;
    height: 574px;
    margin-right: 50px;
}
.all-cards,
.pack-face{
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    margin-top: 75px;
}
.pack,
.pack1,
.pack-hard,
.pack-easy-hard,
.pack-medium-easy,
.face{
    cursor: pointer;
    width: 443px;
    height: 574px;
    margin-right: 50px;
    background-image: url(https://raw.githubusercontent.com/VeranikaM85/eldritch-codejam/main/assets/mythicCardBackground.png);
}
.pack,
.pack1,
.pack-hard,
.pack-easy-hard,
.pack-medium-easy,
.face{
    background-size: cover;
    background-image: cover;
}
.face{
    margin-top: 150px;
}
.text{
    color: #fff;
    font-size: 2.0rem;
    width: 100%;
    height: 200px;
    line-height: 200px;
    background-color: rgba(99, 0, 122, 0.3)
}
.two{
    display: none;
}
.pack-all{
    display: flex;
    flex-direction: column;
}
.wrapper{
    display: flex;
    flex-direction: row;
    margin: 150px;
}
.check{

box-shadow:  0 0 10px 4px #fff,
0 0 95px 5px rgb(99, 0, 122),
0 0 30px 18px rgb(249, 249, 249);

}
.wrapper-stage-all{
    width: 400px;
    height: 680px;
    background-color: #fff;
    opacity: 0;
}
.stage{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 500px;
    margin-left: 100px;
    margin-right: 100px;
    background-image: cover;
    background-image: url("../assets/img/bg1.png");
}

.stage1{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    color: rgb(0, 0, 0);
    font-size: 2.2rem;
    text-align: center;
    line-height: 50px;
}
.wrapper-stage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.green,
.brown,
.blue{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    color: #fff;
    font-size: 1.6rem;
    margin-right: 20px;
}
.green{
    background-color: #3F6022
}
.brown{
    background-color:#B19323;
}
.blue{
    background-color: #4C5CA7;
}
.button-all{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}
.for-check{
    width: 1000px;
    height: 200px;
    background-color: #fff;
}
.button,
.button-random{
    margin-left: 50px;
    margin-right: 50px;
    width: 400px;
    height: 100px;
    margin-top: 110px;
    font-size: 2.0rem;
    cursor: pointer;
}
.display-none{
    opacity: 0;
}
.button:first-child{
    background-color: #bf5eff;
    color: #fff;
}
