@font-face {
    font-family: 'Arial-MT';
    src: url("../assets/fonts/Arial-MT.woff");
}
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-width: 360px;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background: center/cover, rgba(0, 0, 0, 0.4);
    background-image: cover;
}
.wrapper-all{
    width:100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between
}

.ancients {
    cursor: pointer;
    background-image: cover;
    width: 443px;
    height: 574px;
    margin-right: 50px;
}
.pack,
.face{
    cursor: pointer;
    width: 443px;
    height: 574px;
    margin-right: 50px;
}
.pack,
.face{
    background-size: cover;
    background-image: cover;
}

.pack-face{
    display: flex;
    flex-direction: row;
}
.pack-all{
    display: flex;
    flex-direction: column;
}
.wrapper{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
.check{
    border: 10px solid #8000a3;
}
.wrapper-stage-all{
    width: 400px;
    height: 680px;
    background-color: #fff;
    opacity: 0;
}
.stage{
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.stage1{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    color: #fff;
    font-size: 2.2rem;
    text-align: center;
    line-height: 50px;
}
.wrapper-stage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.green,
.brown,
.blue{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    color: #fff;
    font-size: 1.6rem;
    margin-right: 20px;
}
.green{
    background-color: green;
}
.brown{
    background-color: brown;
}
.blue{
    background-color: blue;
}
.button-all{
    display: flex;
    flex-direction: column;
}
.button,
.button-random{
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
    height: 70px;
    margin-top: 50px;
    font-size: 2.0rem;
    cursor: pointer;
}
.display-none{
    opacity: 0;
}
.button:first-child{
    background-color: #8000a3;
    color: #fff;
}
